@import "common";
@import "_minix";
.wrapper-pull {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: auto;
    @include box_flex;
    @include direction(column);
    position: relative;
    .pullend,
    .pullup {
        width: 100%;
        line-height: 50px;
        text-align: center;
        position: absolute;
        left: 0;
    }
    .pullend {
        top: -50px;
    }
    .pullup {
        bottom: -50px;
    }
}

header {
    width: 100%;
    height: pxTorem(45px);
    @include box_flex;
    @include justify(space-between);
    @include align;
    padding: 0 pxTorem(15px);
    box-sizing: border-box;
    background: #0dbdb0;
    color: #fff;
    .left {
        font-size: pxTorem(16px);
        .icon {
            font-size: pxTorem(10px);
            margin-left: pxTorem(5px);
        }
    }
    .box {
        width: 70%;
        height: pxTorem(35px);
        margin: 0 pxTorem(5px);
        @include align;
        position: relative;
        background: #06a495;
        input {
            width: 100%;
            height: 100%;
            padding-left: 13%;
            color: #41c8ba;
            font-size: pxTorem(13px);
        }
        .icon2 {
            position: absolute;
            top: 28%;
            left: 4%;
            font-size: pxTorem(15px);
        }
    }
    .right {
        @include box_flex;
        @include direction(column);
        .icon1 {
            font-size: pxTorem(18px);
            margin-left: pxTorem(5px);
        }
    }
}

section {
    width: 100%;
    @include flex;
    overflow: hidden;
    .img {
        img {
            width: 100%;
            height: auto;
        }
    }
    .wrap {
        padding: pxTorem(10px) pxTorem(15px);
        box-sizing: border-box;
        @include box_flex;
        flex-wrap: wrap;
        dl {
            width: 20%;
            @include box_flex;
            @include justify;
            @include align;
            @include direction(column);
            padding: pxTorem(5px);
            box-sizing: border-box;
            dt {
                font-size: pxTorem(25px);
                border-radius: 100%;
                text-align: center;
            }
            dd {
                font-size: pxTorem(14px);
            }
        }
    }
    .listbox {
        width: 100%;
        padding-left: pxTorem(15px);
        box-sizing: border-box;
        border-top: pxTorem(10px) solid #efefed;
        .list {
            width: 100%;
            height: auto;
            .present {
                font-size: pxTorem(18px);
                padding: pxTorem(10px) 0 pxTorem(10px) 0;
                box-sizing: border-box;
                border-bottom: pxTorem(1px) solid #efefed;
            }
            .dlbox {
                width: 100%;
                .dl {
                    @include box_flex;
                    @include justify(space-between);
                    @include align;
                    width: 100%;
                    padding: pxTorem(10px) 0 pxTorem(10px) 0;
                    box-sizing: border-box;
                    border-bottom: pxTorem(1px) solid #efefed;
                    dl {
                        @include box_flex;
                        @include justify(space-between);
                        dt {
                            img {
                                width: 100%;
                                height: pxTorem(100px);
                            }
                        }
                        dd {
                            @include justify(space-between);
                            @include box_flex;
                            @include direction(column);
                            margin-left: pxTorem(10px);
                            .top {
                                h1 {
                                    font-size: pxTorem(16px);
                                }
                                .p {
                                    font-size: pxTorem(13px);
                                    margin-top: pxTorem(5px);
                                    color: #b5b5b5;
                                }
                            }
                            .bottom {
                                @include box_flex;
                                @include align;
                                p:nth-child(1) {
                                    span {
                                        color: #1eb497;
                                        font-size: pxTorem(16px);
                                    }
                                    b {
                                        color: #1eb497;
                                        font-size: pxTorem(13px);
                                    }
                                }
                                span {
                                    color: #b5b5b5;
                                }
                            }
                        }
                    }
                    .aside {
                        margin-bottom: pxTorem(-85px);
                        margin-right: pxTorem(5px);
                    }
                }
            }
        }
    }
}